<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="puentesApp" class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="css/main.css" type="text/css" rel="stylesheet" />

    <title>Puentes y Carreteras</title>
    <script type="text/javascript" src="js/main.js"></script>
    <script src="js/modernizr.custom.js"></script>
</head>

<body onload="randBackground()" class="cercaniaPage">
    <div class="wrap">
        <div class="align">
            <!--header-->
            <header id="header">
                <a href="index.html"><img src="img/logo.png" alt="Logotipo Puentes y Carreteras" height="70" style="margin:30px 30px 30px 30px" /></a>
                <div id="contacto2">
                    <p class="grey">Puentes y Carreteras S.A.S.</p>
                    <p class="blue">Nit 860.402.284-0</p>
                    <p class="grey">Dir.: Av. 7 No 114 - 33, Of 705 <br />Centro Empresarial Santa Bárbara</p>
                    <p class="grey">Tel.: (57 1) 640 06 30 / 31 / 32 </p>
                    <p class="blue">Bogot&aacute; - Colombia</p>
                </div>

                <div id="contacto">

                </div>

            </header>
            <!--fin header-->


            <div id="contenido" ng-controller="cercaniaCtrl">
                <div id="cercania2">
                    <div class="tagmenu1">
                        <h1>Cercanía</h1>
                    </div>
                    <div class="menu1">
                        <ul>
                            <li ng-class="{active:checkTab(1)}">
                                <a ng-click="setTab(1)">
                                    <p>Video: Un d&iacute;a normal en Puentes y Carreteras</p>
                                </a>
                            </li>
                            <li ng-class="{active:checkTab(2)}">
                                <a ng-click="setTab(2)">Testimonios</a>
                            </li>
                            <li ng-class="{active:checkTab(4)}">
                                <a ng-click="setTab(4)">Galería</a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div id="derecha" class="noFrame">

                    <section ng-show="checkTab(1)">
                        <iframe width="612" height="440" scrolling="yes" id="frame" name="frame" style="" frameborder="0" align="left" src="http://player.vimeo.com/video/51675217?autoplay=0&loop=1&title=0&byline=0&portrait=0" width="600" height="341" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="margin-left:6px; margin-top:15px;"></iframe>
                    </section>
                    <section ng-show="checkTab(2)" class="flexSection">
                        <div class="cd-testimonials-wrapper cd-container">
                            <ul class="cd-testimonials">
                                <li ng-repeat="testimonio in testimonios|orderBy:random">
                                    <p>{{testimonio.testimonio}}</p>
                                    <div class="cd-author">
                                        <ul class="cd-author-info">
                                            <li>{{testimonio.nombre}}</li>
                                            <li>{{testimonio.cargo}}</li>
                                            <li>{{testimonio.ubicacion}}</li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <a href="#0" class="cd-see-all">VER TODOS</a>
                        <div class="cd-testimonials-all">
                            <div class="cd-testimonials-all-wrapper">
                                <ul>
                                    <li ng-repeat="testimonio in testimonios|orderBy:random">
                                        <p>{{testimonio.testimonio}}</p>
                                        <div class="cd-author">
                                            <ul class="cd-author-info">
                                                <li>{{testimonio.nombre}}</li>
                                                <li>{{testimonio.cargo}}</li>
                                                <li>{{testimonio.ubicacion}}</li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                            <a href="#0" class="close-btn">Close</a>
                        </div>
                    </section>
                    
                    <section ng-show="checkTab(4)">
                        <div id="grid-gallery" class="grid-gallery">
                            <section class="grid-wrap">
                                <ul class="grid">
                                    <li class="grid-sizer"></li><!-- for Masonry column width -->
                                    <li>
                                        <figure><!--1-->
                                            <img src="img/thumb/oso-palmero.jpg"/>
                                            <p>Oso Palmero - Fauna típica de Los Llanos Orientales</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--2-->
                                            <img src="img/thumb/adecuacion-llanos.jpg"/>
                                            <p>Adecuación vía de acceso a Llanos 58-1 (2013)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--3-->
                                            <img src="img/thumb/terraplen.jpg"/>
                                            <p>Terraplen vía de acceso Llanos 58-4 (2013)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--4-->
                                            <img src="img/thumb/el-marrano.jpg"/>
                                            <p>Construcción de puente en el Bajo El Marrano, vía de acceso a Llanos 58-4 (2013)</p>
                                        </figure>
                                    </li>                                                                       
                                    <li>
                                        <figure><!--5-->
                                            <img src="img/thumb/senalizacion.jpg"/>
                                            <p>Instalación de señalización ambiental. Cuidamos nuestro planeta</p>
                                        </figure>
                                    </li>                                    
                                    <li>
                                        <figure><!--6-->
                                            <img src="img/thumb/afirmado.jpg"/>
                                            <p>Instalación de material afirmado. Vía de acceso a Leona B4 (2011)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--7-->
                                            <img src="img/thumb/acceso-llanos.jpg"/>
                                            <p>Construcción vía de acceso a Llanos 58-4 (2013)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--8-->
                                            <img src="img/thumb/locacion-llanos-2.jpg"/>
                                            <p>Construcción locación Llanos 58-2 (2013)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--9-->
                                            <img src="img/thumb/locacion-llanos.jpg"/>
                                            <p>Construcción locación Llanos 58-6 (2014)</p>
                                        </figure>
                                    </li>                            
                                    <li>
                                        <figure><!--10-->
                                            <img src="img/thumb/atardecer-leona.jpg"/>
                                            <p>Atardecer Llanero. Bloque Leona (2011)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--11-->
                                            <img src="img/thumb/filtro-frances.jpg"/>
                                            <p>Construcción filtro francés en Llanos 58-2 (2013)</p>
                                        </figure>
                                    </li>
                                     <li>
                                        <figure><!--12-->
                                            <img src="img/thumb/gavion.jpg"/>
                                            <p>Refuerzo con gavión en vía de acceso a Llanos 58-5 (2013)</p>
                                        </figure>
                                    </li>                                    
                                    <li>
                                        <figure><!--13-->
                                            <img src="img/thumb/tubo-llanos.jpg"/>
                                            <p>Trabajos en altura para hincado de tubo en contrapozo Llanos 58-4 sur (2014)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--14-->
                                            <img src="img/thumb/skimer.jpg"/>
                                            <p>Construcción de skimer en Llanos 58-3 (2013)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--15-->
                                            <img src="img/thumb/quiebrapatas.jpg"/>
                                            <p>Construcción quiebra patas vía a punto de captación rio Melua - Bloque Llanos 58 (2013)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--16-->
                                            <img src="img/thumb/dorotea-naturaleza.jpg"/>
                                            <p>Preservar la riqueza natural es nuestra prioridad. Bloque Dorotea (2010)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--17-->
                                            <img src="img/thumb/extendido-llanos.jpg"/>
                                            <p>Extendido de crudo de rio en vía de acceso a Llanos 58-16 (2013)</p>
                                        </figure>
                                    </li>                                    
                                    <li>
                                        <figure><!--18-->
                                            <img src="img/thumb/acopio-llanos.jpg"/>
                                            <p>Acopio de material en Llanos 58-4 sur (2013)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--19-->
                                            <img src="img/thumb/mantenimiento-llanos.jpg"/>
                                            <p>Mantenimiento vía de acceso Llanos 58-2 (2014)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--20-->
                                            <img src="img/thumb/dorotea-aire.jpg"/>
                                            <p>Vía de acceso y locación Dorotea B3 (2011)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--21-->
                                            <img src="img/thumb/box-coulvert.jpg"/>
                                            <p>Construcción Box Coulvert, vía de acceso Llanos 58-6 (2014)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--22-->
                                            <img src="img/thumb/cunetas-llanos.jpg"/>
                                            <p>Construcción cunetas perimetrales Llanos 58-4 (2013)</p>
                                        </figure>
                                    </li>                                    
                                    <li>
                                        <figure><!--23-->
                                            <img src="img/thumb/medicion-llanos.jpg"/>
                                            <p>Medición densidad locación Llanos 58-8 (2013)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--24-->
                                            <img src="img/thumb/movilizacion-meta.jpg"/>
                                            <p>Movilización de maquinaria por el rio Meta para trabajos en el Bloque Cuerva (2009)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--25-->
                                            <img src="img/thumb/el-rubi.jpg"/>
                                            <p>Campamento Finca El Rubí - Bloque Cuerva (2010)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--26-->
                                            <img src="img/thumb/fauna.jpg"/>
                                            <p>La preservación de la diversidad de fauna está siempre presente en nuestras obras</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--27-->
                                            <img src="img/thumb/acceso-cuerva.jpg"/>
                                            <p>Vía de acceso a la locación Cuerva 4 (2011)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--28-->
                                            <img src="img/thumb/acceso-leona.jpg"/>
                                            <p>Vía de acceso al Bloque Leona (2011)</p>
                                        </figure>
                                    </li>                                    
                                     <li>
                                        <figure><!--29-->
                                            <img src="img/thumb/acceso-cuerva-construccion-2.jpg"/>
                                            <p>Construcción vía de acceso al Bloque Cuerva (2010)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--30-->
                                            <img src="img/thumb/extendido-dorotea.jpg"/>
                                            <p>Extendido y conformación de suelo cemento en Dorotea B2 (2008)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--31-->
                                            <img src="img/thumb/plataforma-baquerena.jpg"/>
                                            <p>Construcción plataforma Barquereña 3 (1988)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--32-->
                                            <img src="img/thumb/chiguiros.jpg"/>
                                            <p>Chigüiros presentes en el bloque Leona (2008)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--33-->
                                            <img src="img/thumb/cal-dorotea.jpg"/>
                                            <p>Mezcla de cal para el secado del material en la locación Dorotea B1 (2009)</p>
                                        </figure>
                                    </li>                                    
                                    <li>
                                        <figure><!--34-->
                                            <img src="img/thumb/establizacion.jpg"/>
                                            <p>Estabilización del suelo con cemento para el mejoramiento de la locación Dorotea Este A1 (2009)</p>
                                        </figure>
                                    </li>                                    
                                    <li>
                                        <figure><!--35-->
                                            <img src="img/thumb/instalacion-dorotea.jpg"/>
                                            <p>Instalación de material en la vía de acceso al bloque Dorotea (2008)</p>
                                        </figure>
                                    </li>      
                                    <li>
                                        <figure><!--36-->
                                            <img src="img/thumb/dorotea-aire-2.jpg"/>
                                            <p>Vías de acceso a plataformas en el bloque Dorotea y desvío hacia el bloque Cuervas</p>
                                        </figure>
                                    </li>                     
                                    <li>
                                        <figure><!--37-->
                                            <img src="img/thumb/adecuacion-leona.jpg"/>
                                            <p>Adecuación vía de acceso a Leona B1 (2011)</p>
                                        </figure>
                                    </li>                                    
                                    <li>
                                        <figure><!--38-->
                                            <img src="img/thumb/construccion-leona.jpg"/>
                                            <p>Construcción vía de acceso al bloque Leona (2011)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--39-->
                                            <img src="img/thumb/cuerva.jpg"/>
                                            <p>Bloque Cuerva 2012</p>
                                        </figure>
                                    </li>                                    
                                    <li>
                                        <figure><!--40-->
                                            <img src="img/thumb/acceso-cuerva-construccion.jpg"/>
                                            <p>Construcción vía de acceso al bloque Cuerva (2010)</p>
                                        </figure>
                                    </li>                                    
                                    <li>
                                        <figure><!--41-->
                                            <img src="img/thumb/locacion-leona.jpg"/>
                                            <p>Construcción de la locación Leona B1 (2011)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--42-->
                                            <img src="img/thumb/campamento-leona.jpg"/>
                                            <p>Campamento bloque Leona (2011)</p>
                                        </figure>
                                    </li>
                                     <li>
                                        <figure><!--43-->
                                            <img src="img/thumb/equipo-dorotea.jpg"/>
                                            <p>Nuestro equipo de trabajo en campo. Bloque Dorotea (2009)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--44-->
                                            <img src="img/thumb/plataformas-gloria.jpg"/>
                                            <p>Construcción plataformas y piscinas Gloria 2 y Gloria 3</p>
                                        </figure>
                                    </li>
                                </ul>

                            </section>
                            <section class="slideshow">
                     				<ul>
                                    <li>
                                        <figure><!--1-->
                                            <img src="img/large/oso-palmero.jpg"/><br />
                                            <p>Oso Palmero - Fauna típica de Los Llanos Orientales</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--2-->
                                            <img src="img/large/adecuacion-llanos.jpg"/><br />
                                            <p>Adecuación vía de acceso a Llanos 58-1 (2013)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--3-->
                                            <img src="img/large/terraplen.jpg"/><br />
                                            <p>Terraplen vía de acceso Llanos 58-4 (2013)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--4-->
                                            <img src="img/large/el-marrano.jpg"/><br />
                                            <p>Construcción de puente en el Bajo El Marrano, vía de acceso a Llanos 58-4 (2013)</p>
                                        </figure>
                                    </li>                                                                       
                                    <li>
                                        <figure><!--5-->
                                            <img src="img/large/senalizacion.jpg"/><br />
                                            <p>Instalación de señalización ambiental. Cuidamos nuestro planeta</p>
                                        </figure>
                                    </li>                                    
                                    <li>
                                        <figure><!--6-->
                                            <img src="img/large/afirmado.jpg"/><br />
                                            <p>Instalación de material afirmado. Vía de acceso a Leona B4 (2011)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--7-->
                                            <img src="img/large/acceso-llanos.jpg"/><br />
                                            <p>Construcción vía de acceso a Llanos 58-4 (2013)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--8-->
                                            <img src="img/large/locacion-llanos-2.jpg"/><br />
                                            <p>Construcción locación Llanos 58-2 (2013)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--9-->
                                            <img src="img/large/locacion-llanos.jpg"/><br />
                                            <p>Construcción locación Llanos 58-6 (2014)</p>
                                        </figure>
                                    </li>                            
                                    <li>
                                        <figure><!--10-->
                                            <img src="img/large/atardecer-leona.jpg"/><br />
                                            <p>Atardecer Llanero. Bloque Leona (2011)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--11-->
                                            <img src="img/large/filtro-frances.jpg"/><br />
                                            <p>Construcción filtro francés en Llanos 58-2 (2013)</p>
                                        </figure>
                                    </li>
                                     <li>
                                        <figure><!--12-->
                                            <img src="img/large/gavion.jpg"/><br />
                                            <p>Refuerzo con gavión en vía de acceso a Llanos 58-5 (2013)</p>
                                        </figure>
                                    </li>                                    
                                    <li>
                                        <figure><!--13-->
                                            <img src="img/large/tubo-llanos.jpg"/><br />
                                            <p>Trabajos en altura para hincado de tubo en contrapozo Llanos 58-4 sur (2014)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--14-->
                                            <img src="img/large/skimer.jpg"/><br />
                                            <p>Construcción de skimer en Llanos 58-3 (2013)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--15-->
                                            <img src="img/large/quiebrapatas.jpg"/><br />
                                            <p>Construcción quiebra patas vía a punto de captación rio Melua - Bloque Llanos 58 (2013)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--16-->
                                            <img src="img/large/dorotea-naturaleza.jpg"/><br />
                                            <p>Preservar la riqueza natural es nuestra prioridad. Bloque Dorotea (2010)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--17-->
                                            <img src="img/large/extendido-llanos.jpg"/><br />
                                            <p>Extendido de crudo de rio en vía de acceso a Llanos 58-16 (2013)</p>
                                        </figure>
                                    </li>                                    
                                    <li>
                                        <figure><!--18-->
                                            <img src="img/large/acopio-llanos.jpg"/><br />
                                            <p>Acopio de material en Llanos 58-4 sur (2013)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--19-->
                                            <img src="img/large/mantenimiento-llanos.jpg"/><br />
                                            <p>Mantenimiento vía de acceso Llanos 58-2 (2014)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--20-->
                                            <img src="img/large/dorotea-aire.jpg"/><br />
                                            <p>Vía de acceso y locación Dorotea B3 (2011)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--21-->
                                            <img src="img/large/box-coulvert.jpg"/><br />
                                            <p>Construcción Box Coulvert, vía de acceso Llanos 58-6 (2014)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--22-->
                                            <img src="img/large/cunetas-llanos.jpg"/><br />
                                            <p>Construcción cunetas perimetrales Llanos 58-4 (2013)</p>
                                        </figure>
                                    </li>                                    
                                    <li>
                                        <figure><!--23-->
                                            <img src="img/large/medicion-llanos.jpg"/><br />
                                            <p>Medición densidad locación Llanos 58-8 (2013)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--24-->
                                            <img src="img/large/movilizacion-meta.jpg"/><br />
                                            <p>Movilización de maquinaria por el rio Meta para trabajos en el Bloque Cuerva (2009)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--25-->
                                            <img src="img/large/el-rubi.jpg"/><br />
                                            <p>Campamento Finca El Rubí - Bloque Cuerva (2010)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--26-->
                                            <img src="img/large/fauna.jpg"/><br />
                                            <p>La preservación de la diversidad de fauna está siempre presente en nuestras obras</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--27-->
                                            <img src="img/large/acceso-cuerva.jpg"/><br />
                                            <p>Vía de acceso a la locación Cuerva 4 (2011)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--28-->
                                            <img src="img/large/acceso-leona.jpg"/><br />
                                            <p>Vía de acceso al Bloque Leona (2011)</p>
                                        </figure>
                                    </li>                                    
                                     <li>
                                        <figure><!--29-->
                                            <img src="img/large/acceso-cuerva-construccion-2.jpg"/><br />
                                            <p>Construcción vía de acceso al Bloque Cuerva (2010)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--30-->
                                            <img src="img/large/extendido-dorotea.jpg"/><br />
                                            <p>Extendido y conformación de suelo cemento en Dorotea B2 (2008)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--31-->
                                            <img src="img/large/plataforma-baquerena.jpg"/><br />
                                            <p>Construcción plataforma Barquereña 3 (1988)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--32-->
                                            <img src="img/large/chiguiros.jpg"/><br />
                                            <p>Chigüiros presentes en el bloque Leona (2008)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--33-->
                                            <img src="img/large/cal-dorotea.jpg"/><br />
                                            <p>Mezcla de cal para el secado del material en la locación Dorotea B1 (2009)</p>
                                        </figure>
                                    </li>                                    
                                    <li>
                                        <figure><!--34-->
                                            <img src="img/large/establizacion.jpg"/><br />
                                            <p>Estabilización del suelo con cemento para el mejoramiento de la locación Dorotea Este A1 (2009)</p>
                                        </figure>
                                    </li>                                    
                                    <li>
                                        <figure><!--35-->
                                            <img src="img/large/instalacion-dorotea.jpg"/><br />
                                            <p>Instalación de material en la vía de acceso al bloque Dorotea (2008)</p>
                                        </figure>
                                    </li>      
                                    <li>
                                        <figure><!--36-->
                                            <img src="img/large/dorotea-aire-2.jpg"/><br />
                                            <p>Vías de acceso a plataformas en el bloque Dorotea y desvío hacia el bloque Cuervas</p>
                                        </figure>
                                    </li>                     
                                    <li>
                                        <figure><!--37-->
                                            <img src="img/large/adecuacion-leona.jpg"/><br />
                                            <p>Adecuación vía de acceso a Leona B1 (2011)</p>
                                        </figure>
                                    </li>                                    
                                    <li>
                                        <figure><!--38-->
                                            <img src="img/large/construccion-leona.jpg"/><br />
                                            <p>Construcción vía de acceso al bloque Leona (2011)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--39-->
                                            <img src="img/large/cuerva.jpg"/><br />
                                            <p>Bloque Cuerva 2012</p>
                                        </figure>
                                    </li>                                    
                                    <li>
                                        <figure><!--40-->
                                            <img src="img/large/acceso-cuerva-construccion.jpg"/><br />
                                            <p>Construcción vía de acceso al bloque Cuerva (2010)</p>
                                        </figure>
                                    </li>                                    
                                    <li>
                                        <figure><!--41-->
                                            <img src="img/large/locacion-leona.jpg"/><br />
                                            <p>Construcción de la locación Leona B1 (2011)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--42-->
                                            <img src="img/large/campamento-leona.jpg"/><br />
                                            <p>Campamento bloque Leona (2011)</p>
                                        </figure>
                                    </li>
                                     <li>
                                        <figure><!--43-->
                                            <img src="img/large/equipo-dorotea.jpg"/><br />
                                            <p>Nuestro equipo de trabajo en campo. Bloque Dorotea (2009)</p>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure><!--44-->
                                            <img src="img/large/plataformas-gloria.jpg"/><br />
                                            <p>Construcción plataformas y piscinas Gloria 2 y Gloria 3</p>
                                        </figure>
                                    </li>
                                </ul>
                                <nav>
                                    <span class="icon nav-prev"></span>
                                    <span class="icon nav-next"></span>
                                    <span class="icon nav-close"></span>
                                </nav>
                            </section>
                        </div>
                    </section>


                </div>
            </div>
            <footer id="footer">
                <div id="footer1">
                    <p>Puentes y Carreteras &copy; PRIVACY POLICY</p>
                </div>
                <div id="footer2">
                    <a href="experiencia.html" target="_self">Experiencia</a>
                    <a href="profesionalismo.html" target="_self">Profesionalismo</a>
                    <a href="cercania.html" target="_self">Cercan&iacute;a</a>
                    <a href="contacto.php" target="_top" target="_self">Contacto</a>
                </div>
                <div id="footer3">
                    <img src="img/Logo_BV2.png" style="height:80px;"  />
                </div>
            </footer>
        </div>
    </div>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpGridGallery.js"></script>
    <script src="js/jquery.flexslider-min.js"></script>

    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript">
        new CBPGridGallery( document.getElementById( 'grid-gallery' ) );
    </script>
</body>
</html>
